<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body pb-0" id="modal-body">
    <jsonforms
            *ngIf="!isMicroFrontEndForm && schemaFiles"
            [data]="itemToEdit"
            [schema]="schemaFiles.schemaFile"
            [uischema]="schemaFiles.uiSchemaFile"
            [renderers]="renderers"
            [locale]="'de-DE'"
            [ajv]="ajv"
    ></jsonforms>
</div>
