<div class="container">
    <div class="row align-items-center text-center mt-4">
        <div class="col-auto mr-auto">
            <div ngbDropdown class="d-inline-block">
                <button [disabled]="options.length===0"
                        class="btn btn-outline-primary"
                        id="dropdown"
                        ngbDropdownToggle>Collectors
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdown">
                    <ng-container *ngFor="let option of options">
                        <button ngbDropdownItem (click)="openDynamicForm(option)">{{option.name}}</button>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-secondary"
                    (click)="openRegisterForm()">
                Register JSON or Plugin form
            </button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <table *ngIf="itemsRegistered.length > 0; else noItems"
                   class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Forwarders</th>
                    <th scope="col">Server Ip</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of itemsRegistered; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        {{item.email}}
                    </td>
                    <td>{{ item.forwarders.join('') }}</td>
                    <td>{{ item.serverIp }}</td>
                    <td>
                        <div ngbDropdown class="row">
                            <button [disabled]="options.length===0"
                                    class="col-auto btn btn-outline-primary"
                                    id="dropdownEdit"
                                    ngbDropdownToggle>Edit
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdown">
                                <ng-container *ngFor="let option of options">
                                    <button ngbDropdownItem (click)="openDynamicForm(option, item)">{{option.name}}</button>
                                </ng-container>
                            </div>
                            <button (click)="deleteExampleForm(item)"
                                    class="ml-2 col-auto btn btn-outline-danger">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <ng-template #noItems>
                <h1 class="text-center text-muted">No items registered</h1>
            </ng-template>
        </div>
    </div>
</div>